/*------------------------- Variables------------------------------*/

:root {
  --main-color: #EEBFCF;
  --second-color: #009EFF;
  --background1: #fff;
  --background2: #F8F4F3;
  --fonst-size-titles: 1.8em;
}

/*------------------------- General------------------------------*/

html{
  scroll-behavior: smooth;
}
body {
  max-width: 1920px;
  margin: 0 auto;
  background-color: rgb(150, 131, 131);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}

  @media screen and (min-width:1760px) and (max-width:1920px) {
  body{
    font-size: 16px;
  }
} 

@media screen and (min-width:1445px) and (max-width:1759px) {
  body{
    font-size: 14px;
  }
} 

@media screen and (min-width:360px) and (max-width:1444px) {
  body{
    font-size: 12px;
  }
} 
 

/*------------------------- Header------------------------------*/

header {
  background-color: var(--main-color);
  height: 105px;
  position: fixed;
  z-index: 2;
  max-width: 1920px;
  width: 100%;
}

.navbar-header {
  height: 100%;
  display: flex;
  align-items: center;
}

.list-navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: .3em 18em 0em 16em;
  height: 100%;
}

.item-navbar-header {
  height: 100%;
  list-style: none;
  margin-top: 5em;
}

.item-navbar-header > a {
  color: #8b8387;
  height: 100%;
  font-size: 1.39em;
  font-weight: 500;
  padding: 1.4em 0em;
  text-align: center;
}

.active > a {
  border-bottom: 4px solid var(--second-color);
}

.active > a {
  color: var(--second-color);
}

.btn-burguer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 47px;
  cursor: pointer;
  height: 47px;
  background: #fff;
  z-index: 2;
  position: absolute;
  right: 10px;
  margin-right: 1em;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 0px rgba(185, 184, 184, .6);
  top: 25px;
}

.btn-burguer span {
  display: flex;
  border: 1px solid #36b6b6;
  margin-bottom: 3px;
  width: 25%;
}

.close > span {
  width: 40%;
}

.close > span:nth-child(1) {
  border: 1px solid var(--main-color);
  transform: rotate(-48deg) translate(-3px, 5px);
}

.close > span:nth-child(2) {
  display: none;
}

.close>span:nth-child(3) {
  border: 1px solid var(--main-color);
  transform: rotate(48deg);
}

@media screen and (min-width:360px) and (max-width:890px) {

  header {
    background: #fff url("./MOBILE/ASSETS/Enmascarar\ grupo\ 99.png") no-repeat;
    background-position: 15% 70%;
    height: 135px;
  }

  .navbar-header {
    display: none;
  }

  .active-menu {
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100%;
    background: var(--main-color);
  }

  .list-navbar-header {
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    margin: 0;
    margin-top: 2em;
    width: 100%;
  }

  .item-navbar-header {
    height: 30px;
    font-size: 2em;
    text-align: center;
  }

  .active {
    border: none;
  }

  .active > a {
    color: #9D8893;
  }
}

@media screen and (min-width:891px) {

  .btn-burguer {
    display: none;
  }
}

@media screen and (max-width:1120px) {

  .list-navbar-header {
    margin: .3em 5em 0em 5em;
  }
}

 @media screen and (max-width:1583px) {

  .list-navbar-header {
    margin: .3em 13em 0em 13em;
  }
} 

@media screen and (max-width:1300px) {

  .list-navbar-header {
    margin: .3em 8em 0em 8em;
  }
} 

@media screen and (max-width:1042px) {

  .list-navbar-header {
    margin: .3em 7em 0em 7em;
  }
}

/*------------------------- Main section------------------------------*/

.main-section {
  padding-top: 3.2em;
  display: flex;
  overflow: hidden;
  color: #717171;
  background-color: #fff;
  position: relative;
}

.info-main-section {
  margin: 8em 0 8em 12.1em;
  width: 43%;
}

.info-main-content {
  margin-top: 2.8em;
  max-width: 880px;

}

.title-info-main {
  font-weight: 300;
  font-size: 3.2em;
  line-height: 1.2em;
}

.body-info-main {
  margin-top: 1em;
  max-width: 760px;
  font-size: 1.23em;
}

.email-section {
  display: flex;
  gap: 2em;
  margin-top: 3.5em;
}

#input-email-main {
  border: none;
  background-color: #EAEAEA;
  width: 385px;
  color: #B2B2B2;
  padding: .7em 1em;
  border-radius: 50px;
  outline: none;
  font-size: 1.4em;
  font-weight: 500;
}

#input-email-main::placeholder {
  color: #B0B0B0;
}

.btn-main {
  display: flex;
  justify-content: center;
  border: none;
  font-weight: 600;
  font-size: 1.6em;
  background-color: var(--second-color);
  color: #fff;
  padding: .7em 1.8em;
  width: 266px;
  border-radius: 50px;
  cursor: pointer;
}

.btn-main:hover {
  background-color: rgba(0, 158, 255, .9);
}

 .img-main {
  background: url("./DESKTOP/ASSETS/Grupo\ 932.png") no-repeat;
  width: 100%;
  background-position: -75px -150px; 
  height: 900px;
  position: absolute;
  right: -944px
} 

@media screen and (min-width: 360px) and (max-width:890px) {

  .main-section {
    display: flex;
    overflow: hidden;
    text-align: center;
    align-items: center;
    padding-top: 8.5em;
  }

  .info-main-section {
    margin: 0em 2em 2em 2em;
    font-size: .8em;
  }

  .title-info-main {
    line-height: 1.2em;
  }

  .body-info-main {
    margin: 2em 0em 2.5em 0em;
    line-height: 1.7em;
    font-size: 1.15em;
    height: 172px;
    overflow: hidden;
  }

  #input-email-main {
    padding: .8em;
    font-size: 1.5em;
    width: 100%;
  }

  #input-email-main::placeholder {
    text-align: center;
    font-weight: 400;
  }

  .btn-main {
    padding: .7em 10px;
    font-size: 1.15em;
    width: 140px;
  }

  .img-main {
    background: grey;
    background: url("./MOBILE/ASSETS/Enmascarar\ grupo\ 100.png") no-repeat;
    background-size: 100% 100%;
    height: 185px;
  }
}

@media screen and (max-width: 891px) {

  #brand-image {
    display: none;
  }

  .main-section {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    color: #969698;
    background-color: var(--main-color);
  }

  .email-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4em;
    margin-top: 2em;
  }
}

 @media screen and (max-width:1500px) and (min-width:1300px) {

  .info-main-section {
    margin: 3em 0 4em 15em;
    max-width: 800px;
    width: 37%;
  }

  .img-main{
    background-size: contain;
    background-position: -100px -100px;
  }
} 
/*------------------------- About section------------------------------*/

.about-section {
  background-color: var(--background2);
  padding: 6em 0em 9em 0em;
  display: flex;
  flex-direction: column;
  gap: 8em;
  flex-wrap: wrap;
}

.who-are-section {
  display: flex;
  margin: 0em 15em 0em 26.5em;
  gap: 7.5em;

}

.how-we-do-section{
  display: flex;
  margin: 0em 21.5em 0em 20.6em;
  text-align: end;
  gap: 1em;


} 

.who-are-content, .how-we-do-content {
  color: #373735;
  margin-top: 2.8em;
}


.how-we-do-content {
  padding-right: 6em;
  margin-top: 2.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.how-we-do-title, .who-are-title {
  font-size: 2.9em;
  font-weight: 600;
  color: #373735;
}

.who-are-body, .how-we-do-body {
  font-size: 1.13em;
  color: #7A7675;
  margin-top: 1.5em;
}

.who-are-section>img {
  justify-self: end;
}

.how-we-do-section>img {
  justify-self: start;
  order: 2;
  margin-left: 1.4em;
}

.footer-sections {
  display: flex;
  font-size: 1.51em;
  color: #A4A09F;
  line-height: 1.7em;
  text-align: left;
  align-items: center;
}

.footer-who-how {
  gap: 2em;
  margin: 1em 8em 0em 12.5em;
}



@media screen and (min-width: 360px) and (max-width:890px) {

  .about-section {
    align-items: center;
    gap: 3em;
    padding: 1em 0em 2.5em 0;
    background-color: #fff;
  }
  .who-are-section {
    margin: 0;
  }

  .how-we-do-section {
    display: block;
    width: 360px;
    margin: 0;
    height: 190px;
  }

  .who-are-content, .how-we-do-content {
    padding: 0;
    text-align: center;
    align-items: center;
  }

  .how-we-do-title {
    margin-bottom: 1em;
  }

  .who-are-body, .how-we-do-body {
    padding: 0 1em;
    font-size: 1em;
    line-height: 1.44em;
  }

  .how-we-do-body {
    margin: 0;
  }

  .who-are-section > img {
    display: none;
  }
  
  .how-we-do-section > img {
    min-width: 360px;
    height: 100%;
    justify-self: center;
    order: 0;
    margin-left: 0;
  }

  .footer-sections {
    display: flex;
    font-size: .95em;
    color: #969698;
    line-height: 1.7em;
    align-items: center;
    flex-direction: column;
  }

  .footer-who-how {
    gap: 4em;
    margin: 0;
    margin-top: 16.5em;
    padding: 2em;
    text-align: center;
  }

  .footer-sections>img {
    width: 31px;
    height: 43px;
  }
}

@media screen and (min-width: 891px) and (max-width:1174px) {

  .who-are-section, .how-we-do-section {
    margin: 0em 4em 0em 4em;
    justify-content: center;
  }
}

@media screen and (max-width: 1618px) and (min-width:1175px)  {

  .who-are-section, .how-we-do-section {
    margin: 0em 15em 0em 15em;
    justify-content: center;
  }
}

/*------------------------- Use section------------------------------*/

.use-section {
  background-color: var(--main-color);
  text-align: center;
  padding: 3.5em 0 9.5em 0;
}

.use-section > h2 {
  font-size: 2.9em;
  font-weight: 600;
  color: #08201F;
}

.instructions {
  display: flex;
  justify-content: center;
  line-height: 1.6em;
  margin: 6em 27em 4.5em 23em;
  gap: 5.5em;
}


.instruction-number {
  font-size: 3em;
  font-weight: 500;
  margin: .7em 0;
  color: #08201F;
}

.instruction-body {
  font-size: 1.14em;
  color: #08201F;
}

.footer-use {
  margin: 1em 8em 0em 14em;
  gap: 1em;
  color: #93757F;
}



@media screen and (min-width: 360px) and (max-width: 1030px) {

  .use-section {
    padding: 2.3em 0em 5em 0em;
  }

  .use-section>h2 {
    font-size: var(--fonst-size-titles);
    font-weight: 600;
    line-height: 1em;
  }

  .instructions {
    flex-direction: column;
    align-items: center;
    margin: 2.5em 5.4em 1.7em 5.4em;
    gap: 3.3em;
  }

  .instruction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
  }

  .instruction > img {
    width: 87px;
    height: 87px;
  }

  .instruction-number {
    font-size: 2.7em;
    margin-bottom: .6em;
  }

  .instruction-body {
    font-size: 1em;
    line-height: 1.5em;
  }

  .footer-use {
    margin: 0 2em 0em 3em;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.4em;
    gap: 1em;
  }

  .footer-use>img {
    width: 27px;
    height: 42px;
  }
}


/*------------------------- Tips section------------------------------*/

.tips-section {
  background: #fff;
  padding: 7em 0em 9.5em 0em;
}

.tips-section > h3 {
  margin-bottom: 1em;
  color:#313131 ;
  font-weight: 600;
  text-align: center;
  font-size: 2.9em;
}

.list-tips {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0em 8em 0em 21em;
}

.item-tip {
  list-style: none;
  font-size: 1.55em;
  line-height: 1.8em;
  padding-left: .8em;
  position: relative;
}

.item-tip::before{
  content: "";
  position: absolute;
  background: url("./DESKTOP/ASSETS/Trazado\ 649.png") no-repeat;
  width: 30px;
  height: 30px;
  left: -20px;
  top: 10px;
}



@media screen and (min-width:360px) and (max-width: 785px) {

  .tips-section {
    padding: 3.5em 0em 4.8em 0em;
  }

  .list-tips {
    margin: 0em 3em 0em 4em;
  }
}


/*------------------------- Contact section------------------------------*/

.contact-section {
  background: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 6em 12em;
}

.contact-section > h3 {
  font-size: 2.9em;
  font-weight: 600;
  color: #313131;
}

.contact-text {
  color: #967B84;
  font-weight: 500;
  font-size: 1.65em;
}

form {
  display: grid;
  position: relative;
  gap: 1.2em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 70px) 230px 1fr 1fr;
  grid-template-areas: "name email" "phone address" "product product" "message message" "conditions conditions" "btn btn";
  width: 1135px;
}

#name {
  grid-area: name;
  justify-self: stretch;
  position: relative;
}

#email {
  grid-area: email;
  position: relative;
}

#phone {
  grid-area: phone;
  position: relative;
}

#address {
  grid-area: address;
  position: relative;
}

#product {
  grid-area: product;
  position: relative;
}

#message {
  grid-area: message;
  position: relative;
}

#name > input, #email > input, #phone > input, #address > input, #product > input {
  width: 100%;
  height: 100%;
}

form input, form > textarea {
  border: none;
  padding: .8em 1.3em;
  color: #6A6A6A;
  font-weight: 500;
}

input:focus, textarea:focus {
  outline: 1px solid var(--second-color);
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

input[required]+label {
  color: #999;
  font-size: 1.6em;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

input[required]+label:after {
  content: '*';
  color: red;
}

input[required]:invalid+label {
  display: inline-block;
}

input[required]:valid+label {
  display: none;
}

input[type="email"]:focus+label {
  display: none;
}

input[type="checkbox"]+label {
  text-decoration: underline;
  color: #969698;
}

input[type="checkbox"]{
  transform: scale(1.5);
  
}

textarea {
  resize: none;
  font-size: 1.6em;

}

textarea::placeholder {
  color: #969698;
  font-weight: 400;
}

#conditions-label {
  margin-left: 1em;
  font-size: 1.5em;
}

.conditions {
  grid-area: conditions;
  justify-self: center;
  margin-top: 2em;
}

.btn-form {
  grid-area: btn;
  justify-self: center;
  margin-top: 1em;
  border: none;
  font-size: 1.1em;
  background: url("./DESKTOP/ASSETS/Grupo\ 935.png") no-repeat center ;
  background-size: contain;
  color: transparent;
  border-radius: 15px;
  padding: 2em 4.5em;
  cursor: pointer;
}

.btn-form:hover {
  background: url("./DESKTOP/ASSETS/Grupo\ 935.png") no-repeat center ;
  background-size: contain;
  opacity: .9;
}

@media screen and (min-width: 360px) and (max-width:830px) {

  .contact-section {
    padding: 4em 3em 7em 3em;
  }

  .contact-text {
    text-align: center;
    font-size: 1.1em;
  }

  form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 35px) 140px 1fr 1fr;
    grid-template-areas: "name " "email" "phone " "address" "product" "message " "conditions " "btn ";
    gap: 1.2em;
    margin: .5em 6em;
    width: 100%;
  }

  input[required]+label, textarea::placeholder {
    font-size: 1em;
    font-weight: 600;
  }

  textarea::placeholder {
    font-size: 1.2em;
  }

  .btn-form {
    background: url("./MOBILE/ASSETS/Grupo\ 936.png") no-repeat center;
    color: transparent;
    margin-top: 1em;
  }

  .btn-form:hover {
    background: url("./MOBILE/ASSETS/Grupo\ 936.png") no-repeat center;
    opacity: .9;
  }
}

/*------------------------- Footer------------------------------*/

.footer {
  height: 60px;
  background: #fff;
}

@media screen and (min-width:360px) and (max-width:890px) {

  .footer {
    display: none;
  }
}